<link href="header.component.css" rel="stylesheet">
<nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
      <a class="py-2 active" href="#" aria-label="Product">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img" viewBox="0 0 24 24" focusable="false"><title>Product</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
      </a>
      <a class="nav-link" routerLink="/clothes" routerLinkActive="active">Clothes</a>
      <a class="py-2 d-none d-md-inline-block" routerLink="/shoes" routerLinkActive="active">Shoes</a>
      <a class="py-2 d-none d-md-inline-block" routerLink="/accessories" routerLinkActive="active">Accessories</a>
      <a class="py-2 d-none d-md-inline-block" href="#">Login/Register</a>
      <!--<a class="py-2 d-none d-md-inline-block" routerLink="/cart" routerLinkActive="active">Cart</a>-->
    </div>
  </nav>
  <!--<link href="header.component.css" rel="stylesheet">
<nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
      <a class="py-2 active" href="#" aria-label="Product">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img" viewBox="0 0 24 24" focusable="false"><title>Product</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
      </a>
      <a class="nav-link" routerLink="/clothes" routerLinkActive="active">Clothes</a>
        <a class="py-2 d-none d-md-inline-block" routerLink="/shoes" routerLinkActive="active">Shoes</a>
        <a class="py-2 d-none d-md-inline-block" routerLink="/accessories" routerLinkActive="active">Accessories</a>
        <a class="py-2 d-none d-md-inline-block" routerLink="/cart" routerLinkActive="active">Cart</a>
      <ng-container *ngIf="!auth.isAuthenticated()">
          <a routerLink="/auth/login" class="py-2 d-none d-md-inline-block" routerLinkActive="active">
            Login
          </a>
        <li class="nav-item">
          <a routerLink="/auth/register" class="py-2 d-none d-md-inline-block">
            Register
          </a>
        </li>
      </ng-container>
      <ng-container *ngIf="auth.isAuthenticated()">
        <a class="py-2 d-none d-md-inline-block" routerLink="/cart" routerLinkActive="active">Cart</a>
          <a class="py-2 d-none d-md-inline-block">
            {{ auth.getUsername() }}
          </a>
        <li class="nav-item">
          <a class="nav-link pointer" (click)="logout()">
            Logout
          </a>
        </li>
      </ng-container>
    </div>
  </nav>-->